/*
 * ******************************************************************* COLORS BASE PAGE **************************************************************************** *
*/

$orange: #F64225;
$grey-darker: #2B2D42;
$grey-dark: #A5A4AA;
$grey-light: #F6F4F0;
$transparent: transparent;
$navbar-dropdown-item-hover-color: #F64225;

/*
 * ********************************************************************** PAGE SIZE ******************************************************************************* *  
*/
