@charset "utf-8";
@use "variables";
@import "../node_modules/bulma/sass/utilities/initial-variables";

$warning: variables.$orange;
$grey-light: variables.$grey-light;
$grey-dark: variables.$grey-dark;
$gre-darker: variables.$grey-darker;
$white-ter: variables.$transparent;
$fullhd: variables.$fullhd;
$section-padding: 1rem 3rem;

/* 
    * ________________________________________________________________________GLOBAL _______________________________________________________________________________ *
*/

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

/*
    * _____________________________________________________________________ HEADER STYLE __________________________________________________________________________ *
*/

.navbar-start {
  a {
    font-size: larger;
  }
  :hover {
    color: variables.$orange !important;
    background-color: transparent !important;
  }
  .navbar-dropdown {
    background-color: white !important;
  }
}

#nav_search_input {
  input {
    height: 3rem !important;
    background-color: variables.$grey-light;
    outline: none;
    border: none;
    box-shadow: none !important;
  }
  ::placeholder {
    color: variables.$grey-dark;
    font-weight: 500;
    font-size: large;
  }
  :focus {
    outline: none !important;
  }
}

/* 
* ______________________________________________________________________ MAIN STYLE ______________________________________________________________________________ *
*/

#about {
  min-height: 45rem;
  background-image: url("/crude-oil-barter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(0.85);
  -webkit-filter: opacity(0.85);
  -moz-filter: opacity(0.85);
  div {
    .level {
      height: 100%;
      .card {
        width: 45rem;
        box-shadow: none;
        .card-header {
          box-shadow: none;
        }
        .card-content {
          p {
            word-break: break-all;
          }
        }
        .card-footer {
          border: none;
          .button:hover {
            background-color: $warning;
            color: white !important;
          }
        }
      }
    }
  }
  #about-news {
    section {
      position: relative;
      height: 38rem;
      width: 25rem;
      overflow: hidden;
      ul {
        position: relative;
        list-style: none;
        height: 10000%;
        width: 100%;
        padding: 0;
        margin: 0;
        transition: all 750ms ease;
        left: 0;
        li {
          position: relative;
          margin: 10px 0;
          article {
            background-color: white;
            width: 100%;
            height: 12rem !important;
            padding: 0.85rem;
            figure {
              height: 100%;
              width: 175px;
              img {
                height: 100%;
              }
              time {
                position: absolute;
                top: 20px;
                left: 7px;
                background-color: $grey-light;
                color: $gre-darker;
                font-size: small;
                padding: 6px 10px;
                font-weight: 500;
              }
            }
            div {
              height: 100%;
              width: 12.33rem;
              h1 {
                color: $gre-darker;
              }
              p {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                color: $gre-darker;
              }
            }
            button {
              transition: opacity 0.5s linear;
              transform: translate(0);
              opacity: 0;
            }
          }
        }
        :hover + button {
          opacity: 1;
          width: 100%;
          height: 3rem;
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 0;
        }
      }
    }
  }
}

#infinity {
  position: relative;
  top: -145px;
  article {
    background-color: white;
    width: 100%;
    height: 12rem !important;
    padding: 0.85rem;
    figure {
      height: 100%;
      width: 175px;
      img {
        height: 100%;
      }
    }
    div {
      height: 100%;
      width: 16.5rem;
      box-shadow: none;
      h1 {
        color: $gre-darker;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      time {
        color: $gre-darker;
        font-size: 15px;
        font-weight: 500;
      }
      p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        color: $gre-darker;
      }
    }
  }
    button {
      border-radius: 0;
  }
}

@import "../node_modules/bulma/bulma";
