@charset "utf-8";
@use "variables";
@import "../node_modules/bulma/sass/utilities/initial-variables";

$black-ter: variables.$orange;
$grey-light: variables.$grey-light;
$grey-dark: variables.$grey-dark;
$gre-darker: variables.$grey-darker;
$white-ter: variables.$transparent;
$section-padding: 1rem 3rem;

.trending_article {
  max-height: 150px;
  margin-right: 15px;
  .trending_turn {
    height: 40px;
    position: relative;
    top: -12px;
    left: -2px;
    color: white;
    font-weight: 500;
    border-radius: 0 0 10% 10%;
  }
  .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $gre-darker;
  }
  .subtitle {
    font-size: medium;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $gre-darker;
  }
}

.card {
  max-width: 440px !important;
  max-height: 530px;
  cursor: pointer;
  .subtitle {
    font-size: medium;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $gre-darker;
  }
  .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $gre-darker;
  }
}
.card:hover {
  .title {
    color: $black-ter;
  }
}

.pagination-link.is-current {
    border-color: $black-ter !important;
}